#cliente-card {
    max-width: 20rem;
    max-height: 15rem;
    margin-top: 20px;
    margin-left: 20px;
}

img {
    margin: 15px;
}

.card-header {
    color: rgb(48, 125, 246);
    text-align: center;
    margin: 15px;
}

/*
id proyecto
*/

#proyecto-card{
    width: 500px;
    max-height: 15rem;
    position: relative;
    left: 40px;
    margin-top: 80px;
    margin-left: 10px;
    border-radius: none;
}
