#cliente-card {
    //max-width: 20rem; 
    max-height: 15rem;
    margin-top: 20px;
    border: 0px;
    width: 350px;
   // margin-left: 20px;
}

img {
    margin: 15px;
}

.card-header {
    //color: rgb(48, 125, 246);
    text-align: center;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.nombre-cliente {
    color: #212529;
}

.card-text {
    color: #212529;
}


#proyecto-card{
    width: 500px;
    max-height: 15rem;
    position: relative;
    left: 40px;
    margin-top: 80px;
    margin-left: 10px;
    border-radius: none;
}

#cliente-card {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}